In [11]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from wordcloud import WordCloud
# https://www.kaggle.com/uciml/sms-spam-collection-dataset

In [2]:
df = pd.read_csv("./data/spam.csv", encoding='ISO-8859-1')

In [44]:
print(df.shape)
df.head(3)

(5572, 3)

  labels                                               data  y
0    ham  Go until jurong point, crazy.. Available only ...  0
1    ham                      Ok lar... Joking wif u oni...  0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...  1

In [45]:
try:
    df = df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])
    df.columns = ['labels', 'data']
except:
    pass

df['y'] = df['labels'].map({'ham': 0, 'spam': 1})
df.head(3)

  labels                                               data  y
0    ham  Go until jurong point, crazy.. Available only ...  0
1    ham                      Ok lar... Joking wif u oni...  0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...  1

In [46]:
# Split data
Y = df['y'].values
df_train, df_test, Ytrain, Ytest = train_test_split(df['data'], Y, test_size=0.33)

In [47]:
vectorizer = TfidfVectorizer(decode_error='ignore')
Xtrain = vectorizer.fit_transform(df_train)
Xtest = vectorizer.transform(df_test)

counter = CountVectorizer(decode_error='ignore')
Xtrain_counter = counter.fit_transform(df_train)
Xtest_counter = counter.transform(df_test)

In [48]:
vect_model = MultinomialNB()

vect_model.fit(Xtrain, Ytrain)
vect_model.score(Xtest, Ytest)

0.9510603588907015

In [49]:
count_model = MultinomialNB()
count_model.fit(Xtrain_counter, Ytrain)
count_model.score(Xtest_counter, Ytest)

0.9858618814573138